.card-login{
    font-size: 20px;
    text-align: center;
}

.single-post-card
{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;

}
.see-more
{
    text-align: center;
}

.card-submit
{
   margin-top: 20px;
    margin-right: 20px;
}
.card-img-top
{
    width: 100px;
    height: 100px;

}
.pagination-row
{
    align-content: center;
}